
@media only screen and (min-width: 993px) {
    body.has-fixed-sidenav {
        padding-left: 300px;
    }
    .has-fixed-sidenav .navbar-fixed nav.navbar {
        width: calc(100% - 300px);
        left: 300px;
    }
}
nav.navbar {
    z-index: 10;
    transition: box-shadow .3s, background-color .3s;
    padding: 0 20px;
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}

nav.navbar .brand-logo {
    position: relative;
    float: left;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
}
.sidenav {
    box-shadow: none;
    background-color: #140033 !important;
    // background-color: #448aff !important;
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateX(-105%);
}
.sidenav .logo-container {
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-sizing: content-box;
}
#sidenav-left {
    transform: translateX(0%);
}
.sidenav .collapsible .collapsible-body {
    padding-bottom: 16px;
    background-color: transparent;
}

.sidenav.sidenav-fixed {
    left: 0;
    transform: translateX(0);
    position: fixed;
}
.sidenav .collapsible > li.waves-effect {
    display: block;
}
.sidenav-fixed a, .sidenav-fixed i{
    color:white !important;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.sidenav .collapsible .collapsible-body li > a {
    padding: 0 16px;
    transition: background-color 0.2s ease-out;
}
.sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.sidenav > li {
    width: 100%;
}
.sidenav li {
    float: none;
    line-height: 48px;
}
.sidenav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.sidenav .collapsible>li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: background-color .2s;
}
.sidenav .collapsible .collapsible-header {
    text-transform: uppercase;
    height: 64px;
    line-height: 64px;
}
.sidenav .collapsible > .active .collapsible-header .chevron {
    transform: rotate(-90deg);
}
.sidenav .collapsible .collapsible-header .chevron {
    float: right;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 20px 0 0 0;
    transition: transform 0.2s;
}
.sidenav .logo-container i.material-icons {
    line-height: inherit;
}
.logout-form{
    padding: 0 16px;
    a{
        padding: 0 !important;
    }
}