.header-nav {
    box-shadow: none;
    background-color: transparent;

    ul li{
        display: none;
    }
}

.header-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
        max-height: 30px;
    }
}

@include breakpoint(lg, min) {
    .header-nav {
        background-color: transparent;
        padding: 10px 60px;
        z-index: 10;

        .container {
            width: 60% !important;

            .header-logo {
                display: none;
            }

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                li {
                    display: block;
                    a {
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
