#investors {
    .first-section {
        height: 120vh;
        background-image: url("/images/bg_3.png");
        background-repeat: no-repeat;
        background-position: 72% 105%;
        background-color: #1c151d;
        .text-content {
            width: 30%;
            position: absolute;
            left: 18%;
            top: 150px;
            text-align: left;
            .button {
                margin: 0;
            }
        }
    }
    .second-section {
        position: relative;
        #controller-container {
            width: 90%;
        }
        #img_1 {
            position: absolute;
            left: 250px;
            top: -155px;
            z-index: 1;
        }
        .text-content {
            width: 30%;
            position: absolute;
            right: 250px;
            top: 150px;
            text-align: left;
        }
    }
}
