$sizes: 10;

@mixin margin-classes {
  @for $i from 0 through $sizes {
     $margin: $i * 8px;
    // .m#{$i}  {margin: $margin !important;}
    .ml#{$i} {margin-left: $margin !important;}
    .mr#{$i} {margin-right: $margin !important;}
    .mt#{$i} {margin-top: $margin !important;}
    .mb#{$i} {margin-bottom: $margin !important;}
    .mx#{$i} {margin-left: $margin !important; margin-right: $margin !important;}
    .my#{$i} {margin-top: $margin !important; margin-bottom: $margin !important;}
  }
}
@include margin-classes;


@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 8px;
    /* padding #{$padding} */
    // .p#{$i} {padding: $padding !important;}
    .pl#{$i} {padding-left: $padding !important;}
    .pr#{$i} {padding-right: $padding !important;}
    .pt#{$i} {padding-top: $padding !important;}
    .pb#{$i} {padding-bottom: $padding !important;}
    .px#{$i} {padding-left: $padding !important; padding-right: $padding !important;}
    .py#{$i} {padding-top: $padding !important; padding-bottom: $padding !important;}
  }
}
@include padding-classes;

@mixin width-classes {
  @for $i from 1 through 100 {
    $width: $i * 1%;
    .w-#{$i} {width: $width !important;}
  }
}
@include width-classes;

@mixin breakpoint($breakpoint, $direction: min) {
    
  //check if the supplied breakpoint exists in our breakpoits map
  @if map-has-key($breakpoints, $breakpoint) { 
      $breakpoint-values: map-get($breakpoints, $breakpoint);
      $breakpoint-min: map-get($breakpoint-values, min);
      $breakpoint-max: map-get($breakpoint-values, max);

      //check if we are writing styles for larger or smaller screens
      @if $direction == min {
          @media (min-width: $breakpoint-min) {
              @content;
          }
      }

      @else {
          @media (max-width: $breakpoint-max) {
              @content;
          }
      }
  
  // use the custom value if the breakpoint is not part of the pre-defined list
  } @else {
      
      @if $direction == min {
          @media (min-width: $breakpoint) {
              @content;
          }
      }

      @else {
          @media (max-width: $breakpoint) {
              @content;
          }
      }
  }
}
